*{
    margin: 0;
    padding: 0; 
}

html{
    height: 100%;
    background-image: url("imagens/colmeia2.png");
    overflow-x: hidden;
}

body{
    width: 100%;
    height: 100%;
}

header{
    height: 15.625rem;
    background-image: linear-gradient(#e4e4e4, #fdfdfd, transparent);
}

.secheader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 7.5rem;
}

.headerlogo{
    height: 6rem;
    width: 20%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo{
    width: 80%;
    margin-left: 50%;
    transform: translate(-50%);
}

.navegacao{
    height: 6rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navegacao ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 5%;
}

.navegacao ul li{
    display: inline;
    font-size: 150%;
    margin: 0.8%;
}

.headerbotoes{
    height: 6rem;
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.headerbotoes div{
    position: relative;
    background-color: linear-gradient(#e4e4e4, #fdfdfd);
    border: 0.15rem solid #ffda33;
    border-radius: 5vh;
    width: 35%;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.headerbotoes div:hover{
    background-color: #ffda33;
}

.perfil{
    position: absolute;
    left: 7.5%;
    width: 2.8rem;
}

/*setinha*/

.headerbotoes span{
    position: absolute;
    width: 0.25rem;
    height: 1.25rem;
    border-radius: 100vh;
    background-color: #1e1e1e;
    transition: 0.5s;
}

.headerbotoes span:first-of-type{
    right: 30%;
    transform: rotate(-40deg);
}

.headerbotoes span:last-of-type{
    right: 20%;
    transform: rotate(40deg);
}

/*xzinho*/

#span1.x1{
    animation: virax1 0.5s forwards;
}

#span2.x2{
    animation: virax2 0.5s forwards;
}

@keyframes virax1{
    to{
        height:1.5rem;
        right: 25%;
        transform: rotate(-45deg);
    }
}

@keyframes virax2{
    to{
        height:1.5rem;
        right: 25%;
        transform: rotate(45deg);
    }
}

.fundo{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: end;
}

.fundo div{
    background-color: #fdfdfd;
    border: 0.25rem solid #ffda33;
    border-radius: 5vh;
    width: 25%;
    height: 6.25rem;
    text-align: center;
    align-content: center;
    font-size: 2.5rem;
    color: #613a18;
    cursor: pointer;
    transition: 0.2s;
}

.fundo div:hover{
    scale: 105%;
    filter: brightness(95%);
}

main{
    background-color: #fdfdfd;
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 25%);
    display: flex;
}

.mainsec{
    margin-top: 10rem;
    margin-left: 8rem;
    width: 80%;
    height: 25.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}


.mainsec h1{
    width: 100%;
    font-size: 2.5rem;
}

.mask{
    z-index: 1;
    position: absolute;
    top: 43.9rem;
    background-color: #fdfdfd;
    width: 80%;
    height: 15.6rem;
    mask-image: linear-gradient(to right, transparent 85%, black 100%);
}

.carrossel{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
}

.seccarrossel{
    width: max-content;
    display: flex;
    transition: transform 0.5s ease;
}

.divcarrossel{
    flex: 0 0 15rem;
    height: 15rem;
    margin-right: 2rem;
    border: 0.25rem solid #ffda33;
    border-radius: 5vh;
    background-color: #fdfdfd;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divcarrossel:hover{
    filter: brightness(95%);
    transition: 0.2s;
}

.carrossel button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: #fdfdfd;
    color: #969696;
    border: 0.2rem solid #969696;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 2;
}

.carrossel button:hover{
    filter: brightness(95%);
}

.carrossel button:first-of-type{
    left: 0.5rem;
}

.carrossel button:last-of-type{
    right: 0.5rem;
}

footer{
    height: 22.4rem;
    background-image: linear-gradient(#fdfdfd, #e4e4e4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.secfooter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 11.2rem;
}

.secfooter div{
    width: 30%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contatos{
    justify-content: center;
}

.contatos div{
    height: 100%;
    width: 75%;
}

.contatos div div{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
}

.conttitle{
    height: 3.2rem;
    width: 100%;
    font-size: 1.5rem;
    margin: 0;
}

.email{
    width: 2.5rem;
}

.insta{
    width: 2.5rem;
}

.governo{
    justify-content: space-around;
}

.ccm{
    width: 8.2rem;
    height: 8rem;
}

.parana{
    width: 12rem;
    height: 8rem;
}

.equipe{
    justify-content: center;
}

.logoequipe{
    width: 13rem;
}
